@import "tailwindcss";


body {
  margin: 0;

  background-color: rgba(0, 0, 0, 0.937);
  font-family: "DM Sans", sans-serif;
}

@keyframes fillBar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes bounceOnce {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  40% {
    transform: translateY(-30px);
    opacity: 1;
  }

  70% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce-once {
  animation: bounceOnce 1.5s cubic-bezier(0.50, 0.46, 0.45, 0.94) forwards;
}


@media (max-width: 1150px) {
  .smDashboard1150 {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-bottom: 350px;
  }

  .smDashboardImg1150 {
    top: 320px;

  }

  .smDashTextDiv {
    padding-left: 20px;
  }

  .smDashboardBgExpand1150 {
    height: 300px;
    background-color: #171717f1;
    width: 100%;
    position: absolute;
    bottom: -220px;
    z-index: -10;
    border-radius: 24px;

  }

  .smDashboard1150 p {
    max-width: 1000px !important;
  }

  .WidthIncrease {
    max-width: 1000px;
  }






}

@media (max-width: 1230px) {

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .reviewDescriptionPadding {

    padding-left: 20px;
    padding-right: 20px;
  }

}

@media (max-width: 1000px) {

  .pricingCard1000px {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .pricingLastCardMargin1000px {
    grid-column: 1 / 3;

    justify-self: center;
  }



}